{% extends 'Layouts/Base.html' %}
{% load Ptags %}

{% block title %}
    محصولات
{% endblock %}

{% block content %}

    <!--================= Shop Section Start Here =================-->
    <div class="rts-shop-section section-gap">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <div class="side-sticky">
                        <div class="shop-side-action">
                            <div class="action-item">
                                <div class="action-top">
                                    <span class="action-title">دسته بندی ها</span>
                                </div>
                                {% for category in categories %}
                                    {% if category.child.all %}

                                        <div class="category-item">
                                            <div class="category-item-inner">
                                                <div class="category-title-area">
                                                    <span class="point"></span>
                                                    <a href="{% url 'categories.product.list.product' category.slug %}">
                                                    <span class="category-title">
                                                            <strong>
                                                                {{ category.title }}
                                                            </strong>({{ category.PCount }})
                                                        </span>
                                                        </a>
                                                </div>
                                                <div class="down-icon"><i class="far fa-angle-down"></i></div>
                                            </div>
                                            <div class="sub-categorys">
                                                <ul class="sub-categorys-inner">

                                                    {% for sub_category in category.child.all %}
                                                        <li><span class="point"></span><a
                                                                href="{% url 'categories.product.list.product' sub_category.slug %}">
                                                            <strong>
                                                                {{ sub_category.title }}
                                                            </strong>
                                                        </a></li>
                                                    {% endfor %}

                                                </ul>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="category-item">
                                            <div class="category-item-inner">
                                                <div class="category-title-area">
                                                    <span class="point"></span>
                                                    <a href="{% url 'categories.product.list.product' category.slug %}">
                                                    <span class="category-title">
                                                            <strong>
                                                                {{ category.title }}
                                                            </strong>({{ category.PCount }})
                                                    </span>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>

                                    {% endif %}

                                {% endfor %}

                            </div>


                            <div class="action-item">
                                <div class="action-top">
                                    <span class="action-title">برندها</span>
                                </div>
                                <div class="product-brands">
                                    <div class="brands-inner">
                                        <ul>
                                            {% for brand in brands %}
                                                <li><a class="product-brand"
                                                       href="{% url 'brands.product.list.product' brand.slug %}">
                                                    <strong>
                                                        {{ brand.title }}
                                                    </strong>
                                                </a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="../../accessories_tmp/shop.html" class="banner-item">
                                    <div class="banner-inner">
                                        <span class="pretitle">Winter Fashion</span>
                                        <h1 class="title">Behind the
                                            deseart</h1>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="shop-product-topbar">
                        <div class="filter-area">
                            <p class="select-area">

{#                                <label>#}
{#                                    <select id="selectio_format" onclick="selectio_format()" class="select">#}
{#                                        <option value="1"> مرتب سازی بر اساس محبوبیت</option>#}
{#                                        <option value="2"> مرتب سازی بر اساس اخرین محصولات</option>#}
{#                                        <option value="3"> مرتب سازی بر اساس کمترین به بیشترین قیمت</option>#}
{#                                        <option value="4"> مرتب سازی بر اساس  بیشترین به کمترین  قیمت</option>#}
{#                                    </select>#}
{#                                </label>#}

                            </p>
                        </div>
                    </div>
                    <div class="products-area products-area3">
                        <div class="row justify-content-center">
                        {% if products %}
                            {% for product in products %}
                                <div class="col-xl-4 col-md-4 col-sm-6">
                                    <div class="product-item product-item2 element-item3 sidebar-left">
                                        <a href="{% url 'product.details.product' pk=product.id %}"
                                           class="product-image">
                                            <img src="{{ product.image.url }}"
                                                 alt="product-image" width="327px" height="436px">
                                        </a>
                                        <div class="bottom-content">
                                            <a href="{% url 'product.details.product' pk=product.id %}"
                                               class="product-name">{{ product.title|truncatechars:35 }}</a>
                                            <div class="action-wrap">
                                            
                                                {% if product.off %}
                                                <span class="product-price">{{ product.price|discount:product.off }}</span>
                                                	
                                                    {% else %}
                                                <span class="product-price">{{ product.price|tdc }}</span>
                                                    
                                                {% endif %} 
                                                {% if product.stock > 0 %}
                                                <a href="{% url 'Order.Set.Cookie' pid=product.id count=1 %}" class="addto-cart"><i
                                                        class="fal fa-shopping-cart"></i> افزودن به سبد خرید</a>
                                                {% endif %} 
                                                
                                            </div>
                                        </div>
                                        <div class="product-actions">
                                            <a href="{% url 'Wishlist.Set.Cookie' pid=product.id count=1 %}" class="product-action"><i
                                                    class="fal fa-heart"></i></a>
                                            <a href="{% url 'product.details.product' pk=product.id %}"
                                               class="product-action product-details-popup-btn"><i
                                                    class="fal fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% else %}
                            <div class="alert alert-warning">
                            <p>
                                محصولی یافت نشد
                            </p>
                            </div>
                        {% endif %} 

                        </div>
                    </div>
                    <div class="product-pagination-area mt--20">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">
                                <button class="prev"><i class="far fa-long-arrow-left"></i></button>
                            </a>
                        {% endif %}
                        {% for page in paginator.page_range %}
                            <a href="?page={{ page }}">
                                <button class="number {% if page_obj.number == page %}active {% endif %}">{{ page }}</button>
                            </a>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">
                                <button class="next"><i class="far fa-long-arrow-right"></i></button>
                        
                            </a>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--================= Shop Section Section End Here =================-->


    <!--================= Product-details Section Start Here =================-->
    {#    <div class="product-details-popup-wrapper">#}
    {#        <div class="rts-product-details-section rts-product-details-section2 product-details-popup-section">#}
    {#            <div class="product-details-popup">#}
    {#                <button class="product-details-close-btn"><i class="fal fa-times"></i></button>#}
    {#                <div class="details-product-area">#}
    {#                    <div class="product-thumb-area">#}
    {#                        <div class="cursor"></div>#}
    {#                        <div class="thumb-wrapper one filterd-items figure">#}
    {#                            <div class="product-thumb zoom" onmousemove="zoom(event)"#}
    {#                                 style="background-image: url(../../static/images/products/product-details.jpg)"><img#}
    {#                                    src="../../static/images/products/product-details.jpg" alt="product-thumb">#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="thumb-wrapper two filterd-items hide">#}
    {#                            <div class="product-thumb zoom" onmousemove="zoom(event)"#}
    {#                                 style="background-image: url(../../static/images/products/product-filt2.jpg)"><img#}
    {#                                    src="../../static/images/products/product-filt2.jpg" alt="product-thumb">#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="thumb-wrapper three filterd-items hide">#}
    {#                            <div class="product-thumb zoom" onmousemove="zoom(event)"#}
    {#                                 style="background-image: url(../../static/images/products/product-filt3.jpg)"><img#}
    {#                                    src="../../static/images/products/product-filt3.jpg" alt="product-thumb">#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="product-thumb-filter-group">#}
    {#                            <div class="thumb-filter filter-btn active" data-show=".one"><img#}
    {#                                    src="../../static/images/products/product-filt1.jpg" alt="product-thumb-filter">#}
    {#                            </div>#}
    {#                            <div class="thumb-filter filter-btn" data-show=".two"><img#}
    {#                                    src="../../static/images/products/product-filt2.jpg" alt="product-thumb-filter">#}
    {#                            </div>#}
    {#                            <div class="thumb-filter filter-btn" data-show=".three"><img#}
    {#                                    src="../../static/images/products/product-filt3.jpg" alt="product-thumb-filter">#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="contents">#}
    {#                        <div class="product-status">#}
    {#                            <span class="product-catagory">Dress</span>#}
    {#                            <div class="rating-stars-group">#}
    {#                                <div class="rating-star"><i class="fas fa-star"></i></div>#}
    {#                                <div class="rating-star"><i class="fas fa-star"></i></div>#}
    {#                                <div class="rating-star"><i class="fas fa-star-half-alt"></i></div>#}
    {#                                <span>10 Reviews</span>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <h2 class="product-title">Wide Cotton Tunic Dress <span class="stock">In Stock</span></h2>#}
    {#                        <span class="product-price"><span class="old-price">$9.35</span> $7.25</span>#}
    {#                        <p>#}
    {#                            Priyoshop has brought to you the Hijab 3 Pieces Combo Pack PS23. It is a#}
    {#                            completely modern design and you feel comfortable to put on this hijab.#}
    {#                            Buy it at the best price.#}
    {#                        </p>#}
    {#                        <div class="product-bottom-action">#}
    {#                            <div class="cart-edit">#}
    {#                                <div class="quantity-edit action-item">#}
    {#                                    <button class="button minus"><i class="fal fa-minus minus"></i></button>#}
    {#                                    <input type="text" class="input" value="01"/>#}
    {#                                    <button class="button plus">+<i class="fal fa-plus plus"></i></button>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <a href="../AESOrder/cart.html" class="addto-cart-btn action-item"><i#}
    {#                                    class="rt-basket-shopping"></i>#}
    {#                                Add To#}
    {#                                Cart</a>#}
    {#                            <a href="../AESOrder/wishlist.html" class="wishlist-btn action-item"><i#}
    {#                                    class="rt-heart"></i></a>#}
    {#                        </div>#}
    {#                        <div class="product-uniques">#}
    {#                            <span class="sku product-unipue"><span>SKU: </span> BO1D0MX8SJ</span>#}
    {#                            <span class="catagorys product-unipue"><span>Categories: </span> T-Shirts, Tops, Mens</span>#}
    {#                            <span class="tags product-unipue"><span>Tags: </span> fashion, t-shirts, Men</span>#}
    {#                        </div>#}
    {#                        <div class="share-social">#}
    {#                            <span>Share:</span>#}
    {#                            <a class="platform" href="../../../../../external.html?link=http://facebook.com/"#}
    {#                               target="_blank"><i#}
    {#                                    class="fab fa-facebook-f"></i></a>#}
    {#                            <a class="platform" href="../../../../../external.html?link=http://twitter.com/"#}
    {#                               target="_blank"><i#}
    {#                                    class="fab fa-twitter"></i></a>#}
    {#                            <a class="platform" href="../../../../../external.html?link=http://behance.com/"#}
    {#                               target="_blank"><i#}
    {#                                    class="fab fa-behance"></i></a>#}
    {#                            <a class="platform" href="../../../../../external.html?link=http://youtube.com/"#}
    {#                               target="_blank"><i#}
    {#                                    class="fab fa-youtube"></i></a>#}
    {#                            <a class="platform" href="../../../../../external.html?link=http://linkedin.com/"#}
    {#                               target="_blank"><i#}
    {#                                    class="fab fa-linkedin"></i></a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <!--================= Product-details Section End Here =================-->


{% endblock %}

 