{% extends 'Layouts/Base.html' %}
{% load Ptags %}
{% block title %}
    {{ product.title }}
{% endblock %}

{% block content %}

    <!--================= Product-details Section Start Here =================-->
    <div class="rts-product-details-section rts-product-details-section2 section-gap">
        <div class="container">
            <div class="row product-row">
                <div class="col-xl-12">
                    {% if err %}
                        <div class="alert alert-danger">
                            {{ err }}
                        </div>
                    {% endif %}
                    <div class="product-area details-product-area mb--70 justify-content-center">
                        <div class="product-thumb-area">
                            <div class="cursor"></div>
                            <div class="thumb-wrapper one filterd-items figure">
                                <div class="product-thumb zoom" onmousemove="zoom(event)"
                                     style="background-image: url({{ product.image.url }})"><img
                                        src="{{ product.image.url }}" alt="product-thumb" width="338px" height="450px">
                                </div>
                            </div>

                            {% for img in product.gallery.all %}
                                <div class="thumb-wrapper {{ img.id }} filterd-items hide">
                                    <div class="product-thumb zoom" onmousemove="zoom(event)"
                                         style="background-image: url({{ img.image.url }})">
                                        <img src="{{ img.image.url }}"
                                             alt="product-thumb" width="338px" height="450px">
                                    </div>
                                </div>
                            {% endfor %}


                            <div class="product-thumb-filter-group">
                                <div class="thumb-filter filter-btn active" data-show=".one">
                                    <img src="{{ product.image.url }}" width="70px" height="93px"
                                         alt="product-thumb-filter">
                                </div>
                                {% for img in product.gallery.all %}
                                    <div class="thumb-filter filter-btn" data-show=".{{ img.id }}">
                                        <img src="{{ img.image.url }}" width="70px" height="93px"
                                             alt="product-thumb-filter">
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="contents">

                            <div class="product-status">
                                {% for foo in product.categories.all %}
                                    <a href="{% url 'categories.product.list.product' foo.slug %}">
                                        <span class="product-catagory">
                                            {{ foo.title }}
                                        </span>
                                    </a>
                                {% endfor %}

                                {#                                <div class="rating-stars-group">#}
                                {#                                    <div class="rating-star"><i class="fas fa-star"></i></div>#}
                                {#                                    <div class="rating-star"><i class="fas fa-star"></i></div>#}
                                {#                                    <div class="rating-star"><i class="fas fa-star-half-alt"></i></div>#}
                                {#                                </div>#}
                            </div>
                            <h2 class="product-title">{{ product.title }}
                                {% if product.stock > 0 %}
                                    <span class="stock">In Stock</span>
                                {% endif %} </h2>
                            <span class="product-price">
                                {% if product.off is not None and product.off > 0 %}
                                    <span class="old-price">{{ product.price|tdc }} T</span>
                                    <br>
                                    {{ product.price|discount:product.off }}
                                {% else %}
                                    {{ product.price|tdc }} T
                                {% endif %}

                            </span>
                            <p>
                                {{ product.short_description }}
                            </p>
                            {% if product.has_size %}
                                <div class="action-item3">
                                    <div class="action-top">
                                        <span class="action-title">سایز : <strong id="sizer">
                                            {{ product.products_sizes_set.last.size }}
                                        </strong></span>
                                    </div>
                                    {% for size in product.products_sizes_set.all %}
                                        <div class="color-item2">
                                            <div class="size" onclick="sizerField({{ size.size }})"
                                                 data-bs-toggle="tooltip" data-bs-placement="top"
                                                 title="XXL">{{ size.size }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="product-bottom-action">

                                <div class="cart-edit">
                                    <div class="quantity-edit action-item">
                                        <button onclick="counterMines()" class="button"><i
                                                class="fal fa-minus minus"></i></button>
                                        <input type="text" id="counter" class="input" value="1"/>
                                        <button onclick="counterPlus()" class="button plus">+<i
                                                class="fal fa-plus plus"></i></button>
                                    </div>
                                </div>
                                {% if product.stock > 0 %}

                                    <a onclick="AddToCart({{ product.id }}, {{ product.stock }})"
                                       class="addto-cart-btn action-item "><i
                                            class="rt-basket-shopping"></i> افزودن به سبد خرید</a>
                                {% else %}

                                    <a class="addto-cart-btn action-item ">
                                        <i class="rt-basket-shopping"></i>
                                        این محصول به زودی موجود می شود
                                    </a>
                                {% endif %}

                                <a href="{% url 'Wishlist.Set.Cookie' product.id 1 %}" class="wishlist-btn action-item">
                                    <i class="rt-heart"></i>
                                </a>

                            </div>
                            <div hidden id="countAlert" class="alert alert-warning">
                                <p>
                                    موجودی محصول مورد نظر : {{ product.stock }}
                                </p>
                            </div>
                            <div class="product-uniques">
                                <span class="catagorys product-unipue"><span>دسته بندی: </span>
                                    {% for foo in product.categories.all %}
                                        <a href="{% url 'categories.product.list.product' foo.slug %}">{{ foo.title }}</a>
                                        /
                                    {% endfor %}
                                    </span>
                                <span class="tags product-unipue"><span>تگ ها: </span>
                                    {% for tag in product.tags.all %}
                                        <a href="{% url 'tags.product.list.product' tag.slug %}">
                                        <span class="product-catagory">
                                            {{ tag.title }}
                                        </span>
                                    </a>
                                    {% endfor %}
                                </span>
                                <span class="tags product-unipue"><span>موجودی: </span>
                                        {{ product.stock }}
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="product-full-details-area product-full-details-area2">
                <div class="details-filter-bar">
                    <button class="details-filter filter-btn active" data-show=".dls-one">توضیحات</button>
                    {% if product.more_details %}

                        <button class="details-filter filter-btn" data-show=".dls-two">اطلاعات اضافی</button>
                    {% endif %}
                    <button class="details-filter filter-btn" id="comments" data-show=".dls-three">نظرات
                        ({{ comments_count }})
                    </button>
                </div>
                <div class="full-details dls-one filterd-items">
                    <div class="full-details-inner">
                        <p class="mb--30">{{ product.description }}</p>

                    </div>
                </div>
                <div class="full-details dls-two filterd-items hide">
                    <div class="full-details-inner">
                        <p class="mb--30">
                            {{ product.more_details }}
                        </p>
                    </div>
                </div>
                <!-- review -->
                <div class="full-details dls-three filterd-items hide">
                    <div class="full-details-inner">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 mr-10">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="reveiw-form">
                                        <h2 class="section-title">
                                            <strong>
                                                {% if not comments %}
                                                    اولین نفری باشید که نظر خود را ثبت می کند
                                                {% else %}
                                                    لطفا نظر خود را ثبت کنید
                                                {% endif %}
                                            </strong>
                                        </h2>

                                        <div class="reveiw-form-main mb-10">
                                            <div class="contact-form">
                                                <div class="row">
                                                    <div class="col-lg-6 col-sm-12">
                                                        <div class="input-box text-input mb-20">
                                                        <textarea name="Message" id="validationDefault01" cols="30"
                                                                  rows="10" placeholder='لطفا نظر خود را بنویسید ... *'
                                                                  required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-sm-12">
                                                        <div class="col-lg-12">
                                                            <div class="input-box mb-20">
                                                                {% if request.user.is_authenticated %}
                                                                    <input type="text" name="name"
                                                                           id="validationDefault02"
                                                                           placeholder="نام کامل*"
                                                                           value="{{ request.user.first_name }} {{ request.user.last_name }}"
                                                                           required>
                                                                {% else %}
                                                                    <input type="text" name="name"
                                                                           id="validationDefault02"
                                                                           placeholder="نام کامل*" required>
                                                                {% endif %}

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="input-box mail-input mb-20">
                                                                {% if request.user.is_authenticated %}
                                                                    <input type="text" name="email"
                                                                           id="validationDefault03"
                                                                           placeholder="ایمیل*"
                                                                           value="{{ request.user.email }}" required>
                                                                {% else %}
                                                                    <input type="text" name="email"
                                                                           id="validationDefault03"
                                                                           placeholder="ایمیل*" required>
                                                                {% endif %}

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="rating">
                                                                <p>میزان رضایت :</p>
                                                                <div class="rating-icon">
                                                                    <span class="one">
                                                                        <a onclick="star_rate(1)">
                                                                            <i class="fal fa-star"></i>
                                                                        </a>
                                                                    </span>
                                                                    <span class="two">
                                                                        <a onclick="star_rate(2)">
                                                                            <i class="fal fa-star"></i>
                                                                        </a>
                                                                    </span>
                                                                    <span class="three">
                                                                        <a onclick="star_rate(3)">
                                                                            <i class="fal fa-star"></i>
                                                                        </a>
                                                                    </span>
                                                                    <span class="four">
                                                                        <a onclick="star_rate(4)">
                                                                            <i class="fal fa-star"></i>
                                                                        </a>
                                                                    </span>
                                                                    <span class="five">
                                                                        <a onclick="star_rate(5)">
                                                                            <i class="fal fa-star"></i>
                                                                        </a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mb-15">
                                                            <input type="hidden" value="{{ product.id }}" name="pid">
                                                            <input type="hidden" value="" id='star_rate'
                                                                   name="star_rate">
                                                            <input type="hidden" value="" id='comment_parent'
                                                                   name="comment_parent">
                                                            <button type="submit" class="form-btn form-btn4">
                                                                ارسال <i class="fal fa-long-arrow-right"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% for comment in comments %}
                        {% if comment.child %}
                            <br>
                            <br>
                            {% if comment.child %}
                                <div class="full-details shadow col-md-12 ">
                                    <div class="accordion-collapse collapse show  ">
                                        <div class="accordion-body">
                                            <p>
                                                {{ comment.comment }}
                                            </p>
                                        </div>
                                    </div>

                                    <div class="">
                                        <h1 class="">
                                            <button class=" border-btn ">
                                                {{ comment.full_name }}
                                            </button>
                                            <button class=" border-btn ">
                                                <a href="mailto:{{ comment.email }}">
                                                    {{ comment.email }}
                                                </a>
                                            </button>
                                            <button class=" border-btn ">

                                                <a onclick="comment_reply({{ comment.id }})">
                                                    پاسخ
                                                </a>

                                            </button>
                                            {% if comment.rate %}
                                                <button class=" border-btn ">

                                                    {% for rate in comment.rate|RFS %}
                                                        <i class="fal  fa-star"></i>
                                                    {% endfor %}
                                                </button>

                                            {% endif %}

                                            {% if request.user.is_superuser %}

                                                <form action="" method="post">
                                                    <input type="hidden" name="cid" value="{{ comment.id }}">
                                                    {% csrf_token %}
                                                    <button type="submit" class=" border-btn ">
                                                        حذف
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </h1>
                                    </div>
                                </div>
                                {% for ch in comment.child.all %}
                                    <div class="full-details shadow col-md-8 ">
                                        <div class="accordion-collapse collapse show  ">
                                            <div class="accordion-body">
                                                <p>
                                                    {{ ch.comment }}
                                                </p>
                                            </div>
                                        </div>

                                        <div class="">
                                            <h1 class="">
                                                <button class=" border-btn ">
                                                    {{ ch.full_name }}
                                                </button>
                                                <button class=" border-btn ">
                                                    <a href="mailto:{{ ch.email }}">
                                                        {{ ch.email }}
                                                    </a>
                                                </button>
                                                {% if ch.rate %}
                                                    <button class=" border-btn ">
                                                        {% for rate in ch.rate|RFS %}
                                                            <i class="fal  fa-star"></i>
                                                        {% endfor %}
                                                    </button>
                                                {% endif %}

                                                {% if request.user.is_superuser %}

                                                    <form action="" method="post">
                                                        <input type="hidden" name="cid" value="{{ ch.id }}">
                                                        {% csrf_token %}
                                                        <button type="submit" class=" border-btn ">
                                                            حذف
                                                        </button>
                                                    </form>
                                                {% endif %}

                                            </h1>
                                        </div>
                                    </div>
                                {% endfor %}

                            {% else %}
                                <br>
                                <br>
                                <div class="full-details shadow col-md-12 ">
                                    <div class="accordion-collapse collapse show  ">
                                        <div class="accordion-body">
                                            <p>
                                                {{ comment.comment }}
                                            </p>
                                        </div>
                                    </div>

                                    <div class="">
                                        <h1 class="">
                                            <button class=" border-btn ">
                                                {{ comment.full_name }}
                                            </button>
                                            <button class=" border-btn ">
                                                <a href="mailto:{{ comment.email }}">
                                                    {{ comment.email }}
                                                </a>
                                            </button>
                                            <button class=" border-btn ">

                                                <a onclick="comment_reply({{ comment.id }})">
                                                    پاسخ
                                                </a>

                                            </button>
                                            {% if comment.rate %}
                                                <button class=" border-btn ">

                                                    {% for rate in comment.rate|RFS %}
                                                        <i class="fal  fa-star"></i>
                                                    {% endfor %}

                                                </button>
                                            {% endif %}

                                            {% if request.user.is_superuser %}

                                                <form action="" method="post">
                                                    <input type="hidden" name="cid" value="{{ comment.id }}">
                                                    {% csrf_token %}
                                                    <button type="submit" class=" border-btn ">
                                                        حذف
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </h1>
                                    </div>
                                </div>
                            {% endif %}

                        {% endif %}

                    {% endfor %}


                </div>

            </div>
        </div>
    </div>
    <!--================= Product-details Section End Here =================-->

    <!--================= Related Product Section Start Here =================-->
    <div class="rts-featured-product-section1 related-product">
        <div class="container">
            <div class="rts-featured-product-section-inner">
                <div class="section-header section-header3 section-header6">
                    <div class="wrapper">
                        <h2 class="title">محصولات مشابه</h2>
                    </div>
                </div>
                <div class="row">
                    {% if product_related %}
                        {% for rproduct in product_related %}
                            <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                                <div class="product-item element-item2">
                                    <a href="{% url 'product.details.product' pk=rproduct.id %}"
                                       class="product-image image-slider-variations">
                                        <div class="swiper productSlide">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="image-vari1 image-vari"><img
                                                            src="{{ rproduct.image.url }}"
                                                            alt="product-image" height="436px" width="328px">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </a>
                                    <div class="bottom-content">

                                        <a href="{% url 'product.details.product' pk=rproduct.id %}"
                                           class="product-name">{{ rproduct.title|truncatechars:25 }}</a>
                                        <div class="action-wrap">
                                            <span class="price">{{ rproduct.price|tdc }}</span>
                                        </div>
                                    </div>
                                    <div class="quick-action-button">
                                        <div class="cta-single cta-plus">
                                            <a><i class="rt-plus"></i></a>
                                        </div>
                                        <div class="cta-single cta-quickview">
                                            <a href="{% url 'product.details.product' pk=rproduct.id %}"><i
                                                    class="far fa-eye"></i></a>
                                        </div>
                                        <div class="cta-single cta-wishlist">
                                            <a href="{% url 'Wishlist.Set.Cookie' rproduct.id 1 %}"><i
                                                    class="far fa-heart"></i></a>
                                        </div>
                                        {% if rproduct.stock > 0 %}
                                            <div class="cta-single cta-addtocart">
                                                <a href="{% url 'Order.Set.Cookie' pid=rproduct.id count=1 %}"><i
                                                        class="rt-basket-shopping"></i></a>
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning">
                            <p>
                                محصولی یافت نشد
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--================= Related Product Section End Here =================-->
{% endblock %}

