{% extends 'Layouts/Base.html' %}
{% load Ptags %}
{% block title %}
    سبد خرید
{% endblock %}

{% block content %}

    <!--================= Cart Section Start Here =================-->
    <div class="rts-cart-section">
        <div class="container">
            <h4 class="section-title">سبد خرید</h4>
            <div class="row justify-content-between">
                <div class="col-xl-7">
                    <div class="cart-table-area">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-dark">
                            </thead>
                            <tbody>
                            {% if not order_detail %}
                                <div class="alert alert-info">
                                    هنوز محصولی را اضافه نکردید
                                </div>
                            {% endif %}
                            {% for detail in order_detail %}
                                <tr>
                                    <td>
                                        <a href="{% url 'product.details.product' pk=detail.product.id %}">

                                            <div class="product-thumb">
                                                <img src="{{ detail.product.image.url }}"
                                                     alt="product-thumb" height="136px" width="120px">
                                            </div>
                                        </a>

                                    </td>
                                    <td>
                                        <a href="{% url 'product.details.product' pk=detail.product.id %}">

                                            <div class="product-title-area">
                                                <span class="pretitle">{{ detail.product.title|truncatechars:20 }}</span>
                                                {#                                            <h4 class="product-title">Shimmer Sheer Tights</h4>#}
                                            </div>
                                        </a>

                                    </td>
                                    <td>
                                        {% if detail.product.off %}

                                            <span class="product-price">{{ detail.product.price|discount:detail.product.off }}</span>
                                        {% else %}
                                            <span class="product-price">{{ detail.product.price|tdc }}</span>

                                        {% endif %}

                                    </td>
                                    <td>
                                        <form action="{% url 'User.change.count.basket.details' %}" method="post">
                                            <div class="cart-edit">
                                                <div class="quantity-edit">
                                                    <button type="button" onclick="" class="button"><i
                                                            class="fal fa-minus minus"></i></button>
                                                    <input type="text" id="counterCarPage" class="input"
                                                           value="{{ detail.count }}" name="count"/>
                                                    <button type="button" onclick="" class="button plus">+<i
                                                            class="fal fa-plus plus"></i></button>

                                                </div>
                                            </div>
                                    </td>
                                    <td>

                                        {% csrf_token %}
                                        <input type="hidden" name="did" value="{{ detail.id }}">
                                        {#                                            <input type="hidden" id="countsendser" name="count" value="{{ detail.count }}">#}
                                        <button type="submit" onclick="" class="btn btn-outline-success">ویرایش تعداد
                                        </button>

                                        </form>

                                    </td>
                                    <td class="last-td">

                                        <form action="{% url 'User.remove.basket.details' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="did" value="{{ detail.id }}">
                                            <button class="remove-btn btn btn-outline-danger">حدف</button>
                                        </form>
                                    </td>
                                    {% if detail.product.has_size %}
                                        {% if detail.size %}
                                            <td class="last-td">
                                                <a href="{% url 'product.details.product' pk=detail.product.id %}">
                                                    <button class="remove-btn btn btn-info">
                                                        سایز : {{ detail.size }}
                                                    </button>
                                                </a>
                                            </td>
                                        {% else %}
                                            <td class="last-td">
                                                <a href="{% url 'product.details.product' pk=detail.product.id %}">
                                                    <button class="remove-btn btn btn-warning">لطقا یک سایز انتخاب
                                                        کنید
                                                    </button>
                                                </a>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="checkout-box">
                        <div class="checkout-box-inner">
                            <div class="subtotal-area">
                                <span class="title">قیمت نهایی</span>
                                <span class="subtotal-price">T {{ order.get_final_price|tdc }}  </span>
                            </div>
                            <div class="shipping-check">
                                {#                                <span class="title">Shipping</span>#}
                                <div class="check-options">
                                    {#                                    <form>#}
                                    {#                                        <div class="form-group">#}
                                    {#                                            <input type="checkbox" id="fltrt">#}
                                    {#                                            <label class="check-title" for="fltrt">Flat rate</label>#}
                                    {#                                        </div>#}
                                    {#                                        <div class="form-group">#}
                                    {#                                            <input type="checkbox" id="frsh">#}
                                    {#                                            <label class="check-title" for="frsh">Free shipping</label>#}
                                    {#                                        </div>#}
                                    {#                                    </form>#}
                                    {% if order.send_price > 0 %}

                                        <div class="alert alert-info">
                                            <p>
                                                هزینه ارسال : {{ order.send_price|tdc }} تومان
                                            </p>
                                        </div>

                                    {% else %}
                                        <div class="alert alert-success">
                                            بارسال رایگان
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="shipping-location">
                                <span class="shipping-to">ارسال به : <span>{{ request.user.addr }}</span></span>
                                <span class="change-address"><i
                                        class="fal fa-map-marker-alt mr--5"></i>
                                <a href="{% url 'Dashboard.account' %}">
                                    تغییر ادرس
                                </a>
                                    
                                </span>
                            </div>
                            <div class="total-area">
                                <span class="title">قیمت نهایی</span>
                                <span class="total-price">T {{ order.total_price|Sum:order.send_price }}</span>
                            </div>

                        </div>
                        {#                        <div class="coupon-apply">#}
                        {#                            <form method="post" action="{% url 'User.coupon.basket.details' %}">#}
                        {#                                {% csrf_token %}#}
                        {#                                <span class="coupon-text">کد تخفیف:</span>#}
                        {#                                <div class="apply-input">#}
                        {#                                    <input type="text" name="coupon_code" placeholder="کد را وارد کنید">#}
                        {#                                    <button type="submit" class="apply-btn">فعال سازی</button>#}
                        {#                                </div>#}
                        {#                            </form>#}
                        {#                        </div>#}
                    
                        <a href="{% url 'User.complete.order' %}" class="procced-btn">
                            نهایی کردن
                        </a>
                        <a href="{% url 'product.list.product' %}" class="continue-shopping"><i
                                class="fal fa-long-arrow-left"></i>
                            ادامه خرید
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================= Cart Section End Here =================-->
{% endblock %}

