{% extends 'Layouts/Base.html' %}
    <!--thanks-area start-->
{% block title %}
	Thanks You
{% endblock %}

{% block content %}
    <div class="thanks-area">
        <div class="container">
            <div class="section-inner">
                <div class="section-icon">
                    <i class="fal fa-check"></i>
                </div>
                <div class="section-title">
                    <h2 class="sub-title">با تشکر</h2>
                </div>
                <div class="section-button">
                    <a class="btn-1" href="{% url 'Dashboard.account' %}"><i class="fal fa-long-arrow-left"></i>داشبورد</a>
                    <h3>

                        <a class="btn-2" href="{% url 'contact-us.home' %}"> تماس با ما</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    <!--thanks-area end-->
