{% extends 'Layouts/Base.html' %}
{% load Ptags %}

{% block title %}
    محصولات مورد علاقه
{% endblock %}

{% block content %}

    <!--================= Header Section Start Here =================-->

    <!--================= Header Section End Here =================-->

    <!--================= Cart Section Start Here =================-->
    <div class="rts-wishlist-section section-gap">
        <div class="container">
            <table class="table table-bordered table-hover">
                <tbody>
                {% if wishlist_detail %}
                	
                <tr class="heading">
                    <th></th>
                    <th>نام محصول</th>
                    <th>قیمت</th>
                    <th>موجودی</th>
                    <th></th>
                </tr>
                {% endif %} 
                
                </tbody>
                <tbody>
                {% if not wishlist_detail %}
                    <div class="alert alert-info">
                        هنوز محصولی را اضافه نکردید
                    </div>
                {% endif %}
                {% for detail in wishlist_detail %}
                    <tr>
                        <td class="first-td">
                            <button class="remove-btn">
                                <a href="{% url 'User.remove.wishlist.details' detail.id %}">
                                    <i class="fal fa-times"></i></a></button>
                        </td>
                        <td class="first-child">
                            <a href="{% url 'product.details.product' pk=detail.product.id %}">
                                <img src="{{ detail.product.image.url }}" width="120px" height="136px" alt="">
                            </a>
                            <a href="{% url 'product.details.product' pk=detail.product.id %}" class="pretitle">
                                {{ detail.product.title|truncatechars:55 }}
                            </a>
                        </td>
                        {% if detail.product.stock >= 1 %}
                            <td>
                                {% if detail.product.off %}
                                    <span class="product-price">{{ detail.product.price|discount:detail.product.off }}</span>
                                {% else %}
                                    <span class="product-price">{{ detail.product.price|tdc }}</span>
                                {% endif %}
                            </td>
                            <td class="stock">موجد</td>
                            <td class="last-td">
                                <button class="cart-btn">
                                    <a href="{% url 'Order.Set.Cookie' detail.product.id 1 %}">
                                        <i class="rt-basket-shopping"></i>
                                        اضافه کردن به سبد خرید
                                    </a>
                                </button>
                            </td>
                        {% else %}
                            <td>
                                {% if detail.product.off %}
                                    <span class="product-price">{{ detail.product.price|discount:detail.product.off }}</span>
                                {% else %}
                                    <span class="product-price">{{ detail.product.price|tdc }}</span>
                                {% endif %}
                            </td>
                            <td class="stock1">ناموجود</td>
                            <td class="last-td">
                                <button class="cart-btn1">
                                    <i class="rt-basket-shopping"></i>
                                    اضافه کردن به سبد خرید
                                </button>
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}


                </tbody>
            </table>

        </div>
    </div>

    <!--================= Cart Section End Here =================-->
{% endblock %}


