{% load static %}
{% load Ptags %}

<header id="rtsHeader">
    {% if redline %}
        <div class="header-topbar header-topbar1">
            <div class="container">
                <div class="header-top-area">
                    <div class="slider-div">
                        <div class="swiper rts-topSlide1">
                            <div class="swiper-wrapper">
                                {% for line in redline %}
                                    <div class="swiper-slide">
                                        <h3 class="welcome-text">
                                            {{ line.title }}
                                            <a href="{{ line.link }}">{{ line.link_title }}</a>
                                        </h3>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="slider-navigation2">
                                <div class="swiper-button-prev slider-btn prev"><i
                                        class="rt rt-arrow-left-long"></i></div>
                                <div class="swiper-button-next slider-btn next"><i
                                        class="rt rt-arrow-right-long"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="header-topbar-menu-area">
        <div class="container">
            <div class="menu-area1">
                <div class="menu-item">
                    <nav class="nav navbar">
                        <div class="navbar-menu">
                            <ul>
                                <li><a href="{% url 'about-us.home' %}">درباره ما</a></li>
                                <li><a href="{% url 'Dashboard.account' %}">داشبورد</a></li>
                                <li><a href="{% url 'User.wishlist.details' %}">لیست محصولات مورد علاقه</a></li>
                                <li><a href="{% url 'User.basket.details' %}">سبد خرید</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-area-right-side">
                    <div class="pull-left">
                        نیاز به کمک دارید ؟

                        با ما تماس حاصب فرمایید:
                        <i aria-hidden="true" class="fas fa-phone"></i>
                        <strong>
                            <a href="callito:{{ SiteSetting.number }}">{{ SiteSetting.number }}</a>
                        </strong>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="navbar-sticky">
        <div class="container">
            <div class="navbar-part navbar-part1">
                <div class="navbar-inner">
                    <div class="left-side">
                        <div class="hamburger-1">
                            <a class="nav-menu-link">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                                <span class="dot6"></span>
                                <span class="dot7"></span>
                                <span class="dot8"></span>
                                <span class="dot9"></span>
                            </a>
                        </div>
                        <a href="{% url 'index.home' %}" class="logo">
                            <img src="{{ SiteSetting.logo.url }}" width="212px" height="33px" alt="umart-logo">
                        </a>
                    </div>
                    <div class="rts-menu">
                        <nav class="menus menu-toggle">
                            <ul class="nav__menu">
                                <li class="has-dropdown">
                                    <a class="menu-item" href="{% url 'index.home' %}">صفحه اصلی <i class="rt-plus"></i>
                                    </a>

                                </li>
                                <li class="has-dropdown"><a class="menu-item" href="{% url 'product.list.product' %}">محصولات
                                    <i class="rt-plus"></i></a>

                                </li>
                                <li class="has-dropdown"><a class="menu-item " href="{% url 'faq.home' %}">سوالات
                                    پر تکرار <i class="rt-plus"></i></a>

                                </li>
                                <li class="has-dropdown"><a class="menu-item" href="{% url 'User.basket.details' %}">
                                    سبد خرید
                                    <i class="rt-plus"></i></a>

                                </li>
                                <li><a class="menu-item" href="{% url 'contact-us.home' %}">تماس با ما</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="responsive-hamburger">
                        <div class="hamburger-1">
                            <a href="#" class="nav-menu-link">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                                <span class="dot6"></span>
                                <span class="dot7"></span>
                                <span class="dot8"></span>
                                <span class="dot9"></span>
                            </a>
                        </div>
                    </div>
                    <div class="header-action-items header-action-items1">
                        <div class="search-part">
                            <div class="search-icon action-item icon"><i class="rt-search"></i></div>
                            <div class="search-input-area">
                                <div class="container">
                                    <div class="search-input-inner">
                                        <div class="input-div">
                                            <form action="{% url 'search.product.list.product' %}" method="get">
                                                {% csrf_token %}
                                                <input id="searchInput1" class="search-input" type="text"
                                                       name="search" placeholder="محصول مرد نظرت را پیدا کن">
                                                <input type="submit" class="btn-light btn" value="پیدا کردن">
                                            </form>
                                        </div>
                                        <div class="search-close-icon"><i class="rt-xmark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'Dashboard.account' %}" class="account"><i class="rt-user-2"></i></a>
                        <div class="cart action-item">
                            <div class="cart-nav">
                                <div class="cart-icon icon">
                                    <a>
                                        <i aria-hidden="true" class="fas fa-shopping-basket"></i>
                                    </a>
                                    {% if OrderList %}
                                        <span class="wishlist-dot icon-dot">{{ OrderList.count }}</span>
                                    {% else %}
                                        <span class="wishlist-dot icon-dot">0</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="cart action-item">
                            <div class="cart-nav">
                                <div class="cart-icon icon">
                                    <a href="{% url 'Wishlist.order' %}" class="account">
                                        <i class="fa fa-heart">
                                        </i></a>

                                    {% if OrderList %}
                                        <span class="wishlist-dot icon-dot">{{ WishList.count }}</span>

                                    {% else %}
                                        <span class="wishlist-dot icon-dot">0</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cart-bar">
        <div class="cart-header">
            {% if OrderList %}

            <h3 class="cart-heading">سبد خرید ({{ OrderList.count }})</h3>
                {% else %}
            <h3 class="cart-heading">سبد خرید (0)</h3>
            {% endif %}
            <div class="close-cart"><i class="fal fa-times"></i></div>
        </div>
        <div class="product-area">
            {% if OrderList.all %}


                {% for order in OrderList.all %}
                    <div class="product-item last-child">
                        <div class="product-detail">
                            <div class="product-thumb">
                                <img src="{{ order.product.image.url }}" height="75px" width="75px" alt="product-thumb">
                            </div>
                            <div class="item-wrapper">
                                <span class="product-name">{{ order.product.title|truncatechars:20 }}</span>
                                {% if order.product.has_size %}

                                    {% if order.size %}

                                        <div class="item-wrapper">
                                            سایز:<span class="size">{{ order.size }}</span>
                                        </div>
                                    {% else %}
                                        <a href="{% url 'product.details.product' order.product.id %}">
                                            <div class="item-wrapper">
                                                <div class="alert-warning">
                                                    <p>
                                                        لطفا یک سایز انتخاب کنید
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endif %}
                                <div class="item-wrapper">
                                    <span class="product-qnty">{{ order.count }} ×</span>
                                    {% if order.product.off > 0 %}
                                        <span class="product-price">{{ order.product.price|discount:order.product.off }}</span>

                                    {% else %}
                                        <span class="product-price">{{ order.product.price|tdc }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="cart-edit">
                            <div class="quantity-edit">
                                <input type="text" class="input" value="{{ order.count }}"/>
                            </div>
                            <div class="item-wrapper d-flex mr--5 align-items-center">
                                <form action="{% url 'User.remove.basket.details' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="did" value="{{ order.id }}">
                                    <button type="submit" class="delete-cart"><i class="fal fa-times"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <div class="alert alert-info ">
                    هیج محصولی اضافه نکردید
                </div>
            {% endif %}

        </div>
        <div class="cart-bottom-area">
            {% if order %}
            <span class="total-price">قیمت کل: <span class="price">{{ order.get_final_price|tdc }} T</span></span>

                {% else  %}
            <span class="total-price">قیمت کل: <span class="price">0 T</span></span>

            {% endif %}
            <a href="{% url 'User.basket.details' %}" class="view-btn cart-btn">سبد خرید</a>
        </div>
    </div>


    <!-- slide-bar start -->
    <aside class="slide-bar">
        <div class="offset-sidebar">
            <a class="hamburger-1 mobile-hamburger-1 ml--30" href="#"><span><i class="rt-xmark"></i></span></a>
        </div>
        <!-- offset-sidebar start -->
        <div class="offset-sidebar-main">
            <div class="offset-widget mb-40">
                <div class="info-widget">
                    <img src="{{ SiteSetting.logo.url }}" height="33px" width="212px" alt="">
                    <p class="mb-30">
                        {{ SiteSetting.short_desc }}
                    </p>
                </div>
                <div class="info-widget info-widget2">
                    <h4 class="offset-title mb-20">با ما اشنا شوید </h4>
                    <ul>
                        <li class="info phone"><a href="callito:{{ SiteSetting.number }}">{{ SiteSetting.number }}</a>
                        </li>
                        <li class="info email"><a href="mail:{{ SiteSetting.email }}">{{ SiteSetting.email }}</a></li>


                        <li class="info location">{{ SiteSetting.addr }}</li>
                    </ul>
                    <div class="offset-social-link">
                        <h4 class="offset-title mb-20">با ما در ارتباط باشید </h4>
                        <ul class="social-icon">
                            {% if SiteSetting.whatsapp_link %}

                                <li><a href="{{ SiteSetting.whatsapp_link }}"><i class="fab fa-whatsapp"></i></a></li>
                            {% endif %}
                            {% if SiteSetting.insta_link %}

                                <li><a href="{{ SiteSetting.insta_link }}"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                            {% if SiteSetting.twitter_link %}

                                <li><a href="{{ SiteSetting.twitter_link }}"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                            {% if SiteSetting.linkin_link %}

                                <li><a href="{{ SiteSetting.linkin_link }}"><i class="fab fa-linkedin"></i></a></li>
                            {% endif %}
                            {% if SiteSetting.telegram_url %}

                                <li><a href="{{ SiteSetting.telegram_url }}"><i class="fab fa-telegram"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- offset-sidebar end -->
        <!-- side-mobile-menu start -->
        <nav class="side-mobile-menu side-mobile-menu1">
            <ul id="mobile-menu-active">
                <li class=" firstlvl"><a href="{% url 'index.home' %}">
                    <a class="mm-link" href="{% url 'index.home' %}">صفحه اصلی </a></a>
                </li>
                <li class=" firstlvl">
                    <a class="mm-link" href="{% url 'Dashboard.account' %}">حساب کاربری </a></a>
                </li>
                <li class=" firstlvl">
                    <a href="{% url 'product.list.product' %}">محصولات </a>
                </li>
                <li class=" firstlvl">
                    {% if OrderList.count %}

                        <a class="mm-link" href="{% url 'User.basket.details' %}">سبد خرید ({{ OrderList.count }})</a>
                    {% else %}
                        <a class="mm-link" href="{% url 'User.basket.details' %}">سبد خرید (0)</a>

                    {% endif %}


                </li>
                <li class=" firstlvl">
                    {% if WishList.count %}

                        <a class="mm-link" href="{% url 'Wishlist.order' %}"> محصولات مورد
                            علاقه ({{ WishList.count }}) </a>
                    {% else %}
                        <a class="mm-link" href="{% url 'Wishlist.order' %}"> محصولات مورد
                            علاقه (0) </a>

                    {% endif %}


                </li>
                <li class=" firstlvl">
                    <a class="mm-link" href="{% url 'faq.home' %}">سوالات پر تکرار </a>

                </li>
                <li class=" firstlvl">
                    <a class="mm-link" href="{% url 'about-us.home' %}">درباره ما</a>

                </li>
                <li><a class="mm-link" href="{% url 'contact-us.home' %}">تماس با ما</a></li>
            </ul>
        </nav>

        <!-- side-mobile-menu end -->
    </aside>
    <div class="page-path">
        <div class="container">
            <div class="breadcrumbs-inner">
                <h1 class="path-title">{{ SiteSetting.title }}</h1>
            </div>
        </div>
    </div>
</header>