{% extends 'Layouts/Base.html' %}
{% load static %}
    <!--thanks-area start-->
{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
    <div class="thanks-area">
        <div class="container">
            <div class="section-inner">
                <div class="section-icon">
                    <i class="fal fa-check"></i>
                </div>
                <div class="section-title">
                    <h2 class="sub-title">{{ title }}</h2>
                </div>
                <div class="section-button">
                    <a class="btn btn-success" href="https://{{ link }}"><i class="fal fa-long-arrow-left"></i>{{ link_name }}</a>
                </div>
                <br>
                <p>
                    اگر دکمه بالا کار نکرد لطفا لینک زیر را در مرورگر خود وارد کنید 
                </p>
                <div class="section-button">
                    https://{{ link }}
                    <br>
                   {{ link }}
                </div>                

            </div>
        </div>
    </div>
{% endblock %}
    <!--thanks-area end-->
