{% extends 'Layouts/Base.html' %}
    <!--thanks-area start-->
{% block title %}
	Thanks You
{% endblock %}

{% block content %}
    <div class="thanks-area">
        <div class="container">
            <div class="section-inner">
                <div class="section-icon">
                    <i class="fal fa-check"></i>
                </div>
                <div class="section-title">
                    <h2 class="sub-title">تشکر</h2>
                    <h3 class="sect-title">تشکر ثبت نام در سایت</h3>
                </div>
                <div class="section-button">
                    <a class="btn-1" href="{{ request.get_host }}"><i class="fal fa-long-arrow-left"></i>فعال کردن حساب</a>
                </div>                

            </div>
        </div>
    </div>
{% endblock %}
    <!--thanks-area end-->
