{% extends 'Layouts/Base.html' %}

{% block title %}
    رمز خود را بازیابی کنید
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-12">

            <div class="row">
                <br>
                <div class="cart shadow">
                    <br>
                    <h2>
                        رمز عبور خود را بازیابی کنید
                    </h2>
                    <br>

                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form shadow">
                            <input type="text" name="email" class="alert form-control"
                                   placeholder="لطفا ایمیل خود را وارد کنید ...">
                        </div>
                        <br>
                        <div class="form">
                            <button class="btn-success btn" type="submit">
                                ارسال ایمیل
                            </button>
                        </div>
                        <br>
                        <div class="alert alert-info">
                            <p>
                                یک ایمیل برای شما ارسال می شود (لطفا پوشه اسپم یا هرزنامه را هم چک کنید)
                            </p>
                        </div>
                    </form>
                    {% if status %}
                        <div class="alert  alert-danger">
                            <p>
                                {{ status }}
                            </p>
                        </div>
                    {% endif %}
                    {% if status_code %}
                        <div class="alert  alert-success">
                            <p>
                                {{ status_code }}
                            </p>
                        </div>
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}