{% extends 'Layouts/Base.html' %}

{% block title %}
    ورود یا ثبت نام
{% endblock %}

{% block content %}

    <!--login-area start-->
    <div class="login-area">
        <div class="container">
            <div class="row">
                <div class="form">
                    {% if UserLoginForm.has_error or request.GET.code == '0' %}
                        <div class="alert alert-danger">
                            {% for error in UserLoginForm.errors %}
                                {{ error }}
                            {% endfor %}
                            {{ request.GET.status }}
                        </div>
                    {% endif %}
                    {% if request.GET.code == '1' %}
                        <div class="alert alert-info">
                            {{ request.GET.status }}
                        </div>
                    {% endif %}                    
                    {% if request.GET.code == '20' %}
                        <div class="alert alert-success">
                            {{ request.GET.status }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-md-12 mr-10">
                    <div class="login-form">
                        <div class="section-title">
                            <h2>ورود به سایت</h2>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form method="post" action="{% url 'Authentication.login.account' %}">
                                    {% csrf_token %}
                                    <div class="form">
                                        {{ UserLoginForm.email }}
                                    </div>
                                    <div class="form">

                                        <div class="password-input">
                                            {{ UserLoginForm.password }}
                                            <span class="show-password-input"></span>
                                        </div>
                                    </div>

                                    <div class="form">
                                        <button type="submit" class="btn">ورود</button>
                                    </div>
                                    <a class="forgot-password" href="{% url 'send.email.account' %}">رمزم را فراموش کردم </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 ml-10">
                    <div class="register-form">
                        <div class="section-title">
                            <h2>ثبت نام</h2>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'Authentication.register.account' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form">
                                        {{ UserRegisterForm.username }}
                                    </div>
                                    <div class="form">
                                        {{ UserRegisterForm.email }}
                                    </div>
                                    <div class="form">
                                        <div class="password-input">
                                            {{ UserRegisterForm.password }}
                                            <span class="show-password-input"></span>
                                        </div>
                                    </div>

                                    <div class="form">
                                        <button type="submit" class="btn">ثبت نام</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--login-area end-->

{% endblock %}
