{% extends 'Layouts/Base.html' %}

{% block title %}
    رمز عبور خود را تغییر کنید
{% endblock %}

{% block content %}
    <div class="thanks-area">
        <div class="container">
            {% if UserChangePasswordResetForm.has_error %}

                    <div class="alert alert-danger">
                        {{ UserChangePasswordResetForm.errors }}
                    </div>


            {% endif %}
            <div class="section-inner shadow  ">
                <div class="section">
                    <h2>
                        تغییر رمز عبور
                    </h2>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="section-title center-block ">
                        {{ UserChangePasswordResetForm.new_password }}
                    </div>
                    <div class="section-title center-block ">
                        {{ UserChangePasswordResetForm.conform_password }}
                    </div>
                    <div class="section-button">
                        <button class="btn btn-success shadow" type="submit">
                            ویرایش
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}