{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="en" class="darkmode" data-theme="light" dir="rtl">
<head>
    {% include 'Layouts/Header/References/HeaderReferences.html' %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    {% render_partial 'AESHome.views.Header' %}
    {% block content %}
    {% endblock %}
    {% render_partial 'AESHome.views.Footer' %}
    {% include 'Layouts/Footer/References/FooterReferences.html' %}
</body>
</html>