{% extends 'Layouts/Base.html' %}

{% block title %}
    درباره ما
{% endblock %}

{% block content %}

    <!--================= About Us Start Here =================-->
    <section class="about-us-area pt-120 pb-75 pt-md-60 pb-md-15 pt-xs-50 pb-xs-10">
        <div class="container">
            <div class="image-section">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image-1">
                            <img src="../../static/images/about/img-1.jpg" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image-2">
                            <img src="../../static/images/about/img-2.jpg" alt="img">
                        </div>
                    </div>
                </div>
                <div class="section-title">
                    <div class="title-inner">
                        <div class="wrapper">
                            <div class="sub-content">
                                <img class="line-1" src="../../static/images/banner/wvbo-icon.png" alt="">
                                <span class="sub-text">{{ About_us.small_title }}</span>
                                <img class="line-2" src="../../static/images/banner/wvbo-icon.png" alt="">
                            </div>
                            <h2 class="title">{{ About_us.title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-text">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="description">{{ About_us.description }}</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="description">{{ About_us.description2 }}</p>

                    </div>
                    {#                    <div class="col-lg-4">#}
                    {#                        <div class="service-list">#}
                    {#                            <ul>#}
                    {#                                <li><a href="#">Orders go right to your restaurant points</a></li>#}
                    {#                                <li><a href="#">Provide in-person pickup, & delivery by professional</a></li>#}
                    {#                                <li><a href="#">Offer in-person diners self serve, contactless</a></li>#}
                    {#                            </ul>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </section>
    <!--================= About Us End Here =================-->

    <!--================= Team Area Start Here =================-->
    {% if About_us.team_active_posts %}

        {% for person in About_us.about_team_set.all %}



            <div class="team-area">
                <div class="container">
                    <div class="sub-content">
                        <img class="line-1" src="../../static/images/banner/wvbo-icon.png" alt="">
                        <span class="sub-text">Team</span>
                        <img class="line-2" src="../../static/images/banner/wvbo-icon.png" alt="">
                    </div>
                    <h2 class="title">با تیم ما بیشتر اشنا شوید</h2>
                    <div class="slider-div">
                        <div class="swiper rts-cmmnSlider-over2" data-swiper="pagination">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="team-wraper">
                                        <div class="team-thumb">
                                            <a><img src='{{ person.image.url }}' width="300px" height="300px"
                                                    alt="collection-image"></a>
                                        </div>
                                        <div class="team-content">
                                            <h3>
                                                <a class="item-catagory-box">{{ person.full_name }}</a>
                                            </h3>
                                            <h6>{{ person.response }}</h6>
                                            <div class="footer__social">
                                                {% if person.linkin_url is not None %}
                                                    <a class="footer-icon" href="{{ person.linkin_url }}">
                                                        <i aria-hidden="true" class="fab fa-linkedin"></i></a>
                                                {% endif %}
                                                {% if person.telegram_url is not None %}
                                                    <a class="footer-icon" href="{{ person.telegram_url }}">
                                                        <i aria-hidden="true" class="fab fa-telegram"></i></a>
                                                {% endif %}
                                                {% if person.costume_url is not None %}
                                                    <a class="footer-icon" href="{{ person.costume_url }}">
                                                        <i aria-hidden="true" class="fab fa-waze"></i></a>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <!--================= Team Area End Here =================-->

    <!--================= Feature Area Start Here =================-->
    <div class="features-area">
        <div class="container">
            {% for feature in About_us.about_features_set.all %}
                <div class="features-{{ forloop.counter }}">
                    <div class="row align-items-center">
                        <!-- {% cycle 'odd' 'even' as loop %} -->
                        {% if loop == 'odd' %}
                            <div class="col-lg-6">
                                <div class="image-section">
                                    <a href=""><img src="{{ feature.image.url }}" height="427px" width="685"
                                                    alt="features-1"></a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-lg-6">
                            <div class="section-content">
                                <div class="sub-content">
                                    <img class="line-1" src="../../static/images/banner/wvbo-icon.png" alt="">
                                    <span class="sub-text">{{ feature.sub_title }}</span>
                                    <img class="line-2" src="../../static/images/banner/wvbo-icon.png" alt="">
                                </div>
                                <h2 class="title">{{ feature.title }}</h2>
                                <p class="description">{{ feature.description }}</p>
                                <div class="section-button">
                                    <a href="{{ feature.url }}">{{ feature.url_name }}</a>
                                </div>
                            </div>
                        </div>
                        {% if loop == 'even' %}
                            <div class="col-lg-6">
                                <div class="image-section">
                                    <a href=""><img src="{{ feature.image.url }}" height="427px" width="685"
                                                    alt="features-1"></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!--================= Feature Area End Here =================-->

{% endblock %}
