{% extends 'Layouts/Base.html' %}

{% block title %}
    سوالات پر تکرار
{% endblock %}

{% block content %}

    <!--faq-area start-->
    <section class="faq-area pt-120 pb-90 pt-md-55 pb-md-30 pt-xs-55 pb-xs-30">
        <div class="container">
            <div class="row align-items-center">

                {% for FAQ in FAQS %}
                    {% with forloop as FF %}

                    <div class="col-lg-6 col-md-6">
                        <div class="faq-que-list mb-30">
                            <div class="accordion" id="accordionExample{{ FF.counter }}">
                                {% for box in FAQ %}
                                <div class="accordion-item mb-20">
                                    <h2 class="accordion-header" id="headingOne{{ box.id }}">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne{{ box.id }}" aria-expanded="true"
                                                aria-controls="collapseOne{{ box.id }}">
                                            {{ box.title }}
                                        </button>
                                    </h2>
                                    <div id="collapseOne{{ box.id }}" class="accordion-collapse collapse {% if forloop.first %}
                                    	show
                                    {% endif %} "
                                         aria-labelledby="headingOne{{ box.id }}" data-bs-parent="#accordionExample{{ FF.counter }}">
                                        <div class="accordion-body">
                                            <p>{{ box.content }}</p>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endwith %}

                {% endfor %}

            </div>
        </div>
    </section>
    <!--faq-area end-->
{% endblock %}

